

<!-- login -->
<div class="row">
    <div class="col-7">
        <!-- image -->
        <img height="600px" width="700px" class="m-4"
            src="https://img.freepik.com/premium-vector/full-pharmacy-basket-order-medical-product-purchase-delivery_272892-5.jpg?w=2000"
            alt="no image">
    </div>
    <div class="col-5 mt-5">
        <form (ngSubmit)="login()" [formGroup]="loginForm" class="border mt-5 me-5 p-5">

            
           
            <div class="mt-5 mb-3">
                <input name="phone" formControlName="phone" type="text" placeholder="Enter Your phone number" class="form-control">
            </div>
             <!-- invalid phone number -->
             <div *ngIf="this.loginForm.get('phone')?.errors&&this.loginForm.get('phone')?.touched" class="text-danger mb-2" style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;">
                Invalid Phone number
            </div>
            <div class="mt-4 mb-3">
                <input name="pswd" formControlName="pswd" type="password" placeholder="Enter Your password" class="form-control">
            </div>
             <!-- invalid phone number -->
             <div *ngIf="this.loginForm.get('pswd')?.errors&&this.loginForm.get('pswd')?.touched" class="text-danger mb-2" style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;">
                Invalid Password
            </div>

            <!-- error msg -->
            <div class="text-danger">{{errorMsg}}</div> 
            


            <div class="mt-4">
                <button type="submit" class="btn btn-success">Login
                    <span *ngIf="successMsg" class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </span>
                </button>
                &nbsp;
                <span>
                    New User? Click here to <a routerLink="/users/register">Register</a>

                </span>
            </div>
        </form>
    </div>
</div>