<!-- carousal -->
<div id="carouselExampleSlidesOnly" class="carousel slide mt-1" data-bs-ride="carousel" data-interval="500">
    <div class="carousel-inner mt-5 pt-5">
        <div class="carousel-item active">
            <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1671640109_Web_Home_Kareena.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1666362307_Home_Bannernmsnew.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1666362521_Home_Bannernms20.jpg"
                class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<!-- options -->

<div class="homediv">
    <div class="d-flex">
        <div class="img">
            <img width="70px"
                src="https://img.freepik.com/premium-vector/pills-tablets-icon-treatment-illness-pain-pharmacy-drugs-symbols-icons-pill-medical-vector-illustration_342166-239.jpg?w=2000"
                alt="all medicines">
        </div> &nbsp;&nbsp;
        <div class="a-tag">
            <a style="text-decoration: none;" class="text-white" routerLink="/medicines/allmedicines">Medicines</a>
        </div>
        <!-- <div class="skin-img">
            <img width="60px" height="60px" src="https://cdn-icons-png.flaticon.com/512/3787/3787145.png"
                alt="skin care">
        </div> -->
        <!-- <div class="skin-a"><a routerLink="/medicines/allskincare" class="text-white" style="text-decoration: none;">&nbsp; Skin Care</a></div>
    </div> -->
    <!-- <div>
        <div class="d-flex">

        </div>-->
    </div> 
</div>

<!-- card -->


<div style="overflow-x: hidden;">
    <!-- <div class="shadow-lg  mb-5 bg-body-tertiary rounded"> -->

    <div class="row">
        <div class="card" class="col-sm-4 mb-3 mb-sm-0 mt-5 ">
            <div class="card  mb-3" style="background-color: rgb(244, 251, 252);">
                <div class="card-body">
                    <h5 class="card-title"
                        style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Special OFFER!!</h5>
                    <div class="d-flex">

                        <!-- <img width="500px" height="200px" src="https://www.netmeds.com/images/cms/offers/1598614940_Mobile_Homejjjkkj.jpg" alt=""> -->
                        <img class="mt-2" width="40px" src="https://cdn-icons-png.flaticon.com/512/172/172011.png" alt="">
                        <a style="text-decoration: none;font-size: 20px; " class="text-dark mt-3" href="">&nbsp;&nbsp;
                            Order medicines</a>
                    </div>
                    <small><span class="text-hidden" class="text-success ms-5 ps-3">save up to 25% off</span></small>

                </div>
            </div>
        </div>

        <div class="col-sm-4 mt-5">
            <div class="card" style="background-color:rgb(244, 251, 252);">
                <!-- <img width="500px" height="200px" src="https://cdn.grabon.in/gograbon/images/merchant/1628681590417.jpg" alt=""> -->
                <div class="card-body">
                    <h5 class="card-title"
                        style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Grab Now!!</h5>
                    <div class="d-flex">
                        <img width="60px"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIF95CwYpa9HFMpwd9bDKP9MomXfh7u2jb3w&usqp=CAU"
                            alt="">
                        <a style="text-decoration: none;font-size: 20px; " class="text-dark mt-3" href="">&nbsp;&nbsp;
                            Skin Care</a>
                    </div>
                    <small><span class="text-hidden" class="text-success ms-5 ps-3">save up to 25% off</span></small>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mt-5">
            <div class="card" style="background-color: rgb(244, 251, 252);">
                <!-- <img width="500px" height="200px" src="https://www.netmeds.com/images/cms/offers/1590735380_M_Home-super25.jpg" alt=""> -->
                <div class="card-body">
                    <h5 class="card-title"
                        style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                        Special OFFER!!</h5>
                    <div class="d-flex">

                        <img width="50px"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIrmwM0NSbOCXrxs8u_-BvFCYDub0x67LfIUirp4DoJtzhk9rDtgErDc7DsAKl8vSndlQ&usqp=CAU"
                            alt="">
                        <a style="text-decoration: none;font-size: 20px; " class="text-dark mt-3" href="">&nbsp;&nbsp;
                           Wellness</a>
                    </div>
                    <small><span class="text-hidden" class="text-success ms-5 ps-3">save up to 25% off</span></small>

                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>


<!-- card carousal -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around mt-5">
        <div class="card  " style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1676446400_Cetaphil_mini-banner-for-web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Grab Now</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1676399103_Pampers__mini_web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Limited offer</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1676359695_Lenskart_mini_web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Save up to 20%</h5>
      
    </div>
  </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card  " style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1675791991_True-Elements_mini-banner-web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Today's Deal</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1676399225_Cofsils__mini_web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Limited offer</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1676357994_sunova__mini_web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Deal of the day</h5>
      
    </div>
  </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card " style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1676399063_Adel_Pekana__mini_web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Grab now</h5>
      
    </div>
  </div>
          <div class="card" style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1674585425_Khadi_Pure_mini_web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Save up to 25%</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
    <img src="https://www.netmeds.com/images/cms/aw_rbslider/slides/1668781285_Netmeds-436x224pxl.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Super Deal Offer</h5>
      
    </div>
  </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->